h1 {
    text-align: center;
}
#firstimg {
    width: 200px;
    margin: auto;
    padding: 10px
}
#secondimg {
    width: 200px;
    margin: auto;
    padding: 10px;
}
#thirdimg {
    width: 200px;
    margin: auto;
    padding: 10px;
}